.pnf-container {
    width: 100%;
    height: 100%;
}

.pnf-inner-container {
    height: 100%;
    position: relative;
    display: flex;
    max-width: 100%;
}

.pnf-menu-bar {
    margin-bottom: 2em;
}

.pnf-menu-bar-open {
    max-height: 500px;
    overflow-y: auto;
}

.pnf-dark-mode {
    background-color: #ededed;
    filter: invert(100%);
}

.pnf-flag-select {
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    background-color: rgba(255, 74, 0, 0.2)!important;
}

.pnf-button {
    background-color: #00b5ff;
    border: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.pnf-tab-button-active {
    background-color: #00b5ff;
    border: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.pnf-tab-button {
    background-color: #fff;
    border: 1px solid #00b5ff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 1.5rem;
    border-radius: 6px;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.pnf-control-bar-outer {
    display: flex;
    justify-content: space-between;
}

.pnf-button-bar {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.pnf-hidden {
    display: none!important;
}

.pnf-table, .pnf-table th, .pnf-table td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
}

.pnf-table th {
    background-color: white;
    position: sticky;
    top: 1px;
}

.pnf-table th, .pnf-table td {
    padding: 2px 3px;
}

.pnf-check-label {
    user-select: none;
    cursor: pointer;
}

.pnf-check-label input {
    margin-right: 0.75em;
}

.pnf-select {
    border: 1px solid #ccc;
}

.pnf-link-btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.pnf-faded {
    opacity: 0.3;
}

.u-marker {
    position: relative;
}

.pnf-colour-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

/* right/stacked legend */
.uplot.rgt-leg {
    display: flex;
    width: auto;
}

.uplot.rgt-leg .u-wrap {
    flex: none;
}

.uplot.rgt-leg .u-legend {
    text-align: left;
    margin-left: 0;
    margin: 0;
}

.uplot.rgt-leg .u-legend,
.uplot.rgt-leg .u-legend tr,
.uplot.rgt-leg .u-legend th,
.uplot.rgt-leg .u-legend td {
    display: revert;
}
